<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            {% if session['username'] %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('books') }}">Books</a></li>
                <li><a href="{{ url_for('hacking') }}">Hacking</a></li>
                <li><a href="{{ url_for('misc') }}">Misc</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>